.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.select-character {
    width: 250px;
}

.speed-dial-items .MuiButtonBase-root,
.speed-dial-items .MuiButtonBase-root:hover {
    background-color: #0e8a85;
}

.item-filter {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.item-select {
    width: 100%;
    min-width: 200px;
}

.item-filter-box {
    margin: 5px;
    flex: 1;
}

.item-filter-box.disabled {
    display: none;
}

.item-filter-button-box {
    flex: 1;
}

.item-filter-button {
    color: #0e8a85;
}