.talent-list .explanation-card {
    margin: 20px;
}

.talent-list .explanation-card.disabled {
    display: none;
}

.talent-list .explanation-card .inner-explanation-card {
    margin: 5px
}

.inner-explanation-card .talent-icon {
    float: left
}

.talent-grid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.talent-list .helpBtn {
    position: absolute;
    float: right;
    right: 0;
    top: 85px;
    color: brown;
}

.talent-list .closeBtn {
    float: right;
    color: brown;
}

.talent-list .helpBtn.disabled {
    display: none;
}

.talent-icon-label {
    float: left;
}

.talent-filter {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.talent-select {
    width: 100%;
    min-width: 200px;
}

.talent-filter-box {
    margin: 5px;
    flex: 1;
}

.talent-filter-box.disabled {
    display: none;
}

.talent-filter-button-box {
    flex: 1;
}

.talent-filter-button {
    color: brown;
}

.talent-facet.disabled {
    display: none;
}

.talent-type-select {
    max-width: 100px;
}